<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- Use routerLink instead of href for SPA navigation -->
      <img src="/assets/FrontOffice/assets/img/favicon.png" alt="">
      <h1 class="sitename">Coconsult</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/" fragment="about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/" fragment="features" routerLinkActive="active">Features</a></li>
        <li><a routerLink="/" fragment="services" routerLinkActive="active">Services</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a routerLink="/job-offerss" routerLinkActive="active">Job Offers</a></li>
        <li class="dropdown">
          <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown">
              <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" (click)="login()">Get Started</a>

  </div>
</header>
