<div class="vertical-container">
  <app-vertical></app-vertical>
</div>

<!-- Chatbot toggle button -->
<button id="chatbot-toggler" (click)="toggleChatbotModal()" [ngClass]="{'show-chatbot': isChatbotOpen}">
  <svg class="chatbot-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2ECC71" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    <path d="M9 9h6"></path>
    <path d="M9 12h6"></path>
  </svg>
  <span class="material-symbols-rounded">close</span>
</button>

<!-- Chatbot Modal -->
<ng-template #chatbotModal let-modal>
  <div class="new-chatbot-modal">
    <!-- Chatbot Header -->
    <!-- Chatbot Body -->
    <div class="new-chat-body">
      <app-new-chatbot></app-new-chatbot>
    </div>
  </div>
</ng-template>

<!-- Messenger toggle button -->
<button id="messenger-toggler" (click)="toggleMessengerModal()" [ngClass]="{'show-messenger': isMessengerOpen}">
  <img src="assets/images/cropped-coconsultlogo_flood2__3_.png" alt="Messenger Logo" class="messenger-logo">
</button>

<!-- Messenger Modal -->
<ng-template #messengerModal let-modal>
  <div class="messenger-modal">
    <!-- Messenger Header -->
    <div class="modal-header">
      <h5 id="messenger-modal-title"> Co-consult chat </h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <!-- Messenger Body -->
    <div class="modal-body">
      <app-chat></app-chat>
    </div>
  </div>
</ng-template>
