.alert-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: white;
  background-color: #dc3545;
  border-radius: 10px;
  transform: translate(50%, -50%);
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-item {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}