<div class="container mt-4">
  <h2 class="text-center">Bugs {{ bugs[0]?.projectName || 'loading...' }}</h2>

  <!-- Section: This Week -->
  <div *ngIf="thisWeekBugs && thisWeekBugs.length > 0">
    <h3 class="mt-4">This Week</h3>
    <div class="d-flex justify-content-between p-2 align-items-center">
      <ngb-pagination
        [collectionSize]="thisWeekBugs.length"
        [(page)]="thisWeekCurrentPage"
        [pageSize]="thisWeekPageSize"
        (pageChange)="refreshThisWeek()"
      ></ngb-pagination>
      <select class="form-select" style="width: auto" [(ngModel)]="thisWeekPageSize" (ngModelChange)="refreshThisWeek()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table datatable" *ngIf="thisWeekBugs && thisWeekBugs.length > 0; else noThisWeekBugs">
        <thead class="table-light">
        <tr>
        <th>Bug Description</th><th>Status</th><th>Source Issue</th><th>Priority</th>
          <th>Date</th><th>Developer</th><th>Task ID-Op ID</th><th>Proj - Phase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bug of getThisWeekPaginated()" [ngClass]="{'expanded-row': expandedBugId === bug.idBug}">

          <td class="bug-description" (click)="toggleDescription(bug.idBug)">
            <span class="description-text">{{ bug.description }}</span>
          </td>
          <td><span class="badge badge-lg" [ngClass]="getStatusClass(bug.status)">{{ bug.status }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getSourceIssueClass(bug.source_issue)">{{ bug.source_issue }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getPriorityClass(bug.priority)">{{ bug.priority }}</span></td>
          <td>{{ bug.repportDate | date:'dd MMM yyyy' }}</td>
          <td>{{ getDeveloperInfo(bug) }}</td>
          <td>{{ bug.taskId }} - {{ bug.operationId }}</td>
          <td>{{ bug.projectName }} - {{ bug.phaseName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noThisWeekBugs>
      <p class="text-danger">No bugs found.</p>
    </ng-template>
  </div>

  <!-- Section: Last Week -->
  <div *ngIf=" lastWeekBugs && lastWeekBugs.length > 0">
    <h3 class="mt-4">Last Week</h3>
    <div class="d-flex justify-content-between p-2 align-items-center">
      <ngb-pagination
        [collectionSize]="lastWeekBugs.length"
        [(page)]="lastWeekCurrentPage"
        [pageSize]="lastWeekPageSize"
        (pageChange)="refreshLastWeek()"
      ></ngb-pagination>
      <select class="form-select" style="width: auto" [(ngModel)]="lastWeekPageSize" (ngModelChange)="refreshLastWeek()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table datatable" *ngIf="lastWeekBugs && lastWeekBugs.length > 0; else noLastWeekBugs">
        <thead class="table-light">
        <tr>
          <th>Bug Description</th><th>Status</th><th>Source Issue</th><th>Priority</th>
          <th>Date</th><th>Developer</th><th>Task ID-Op ID</th><th>Proj - Phase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bug of getLastWeekPaginated()" [ngClass]="{'expanded-row': expandedBugId === bug.idBug}">

          <td class="bug-description" (click)="toggleDescription(bug.idBug)">
            <span class="description-text">{{ bug.description }}</span>
          </td>
          <td><span class="badge badge-lg" [ngClass]="getStatusClass(bug.status)">{{ bug.status }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getSourceIssueClass(bug.source_issue)">{{ bug.source_issue }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getPriorityClass(bug.priority)">{{ bug.priority }}</span></td>
          <td>{{ bug.repportDate | date:'dd MMM yyyy' }}</td>
          <td>{{ getDeveloperInfo(bug) }}</td>
          <td>{{ bug.taskId }} - {{ bug.operationId }}</td>
          <td>{{ bug.projectName }} - {{ bug.phaseName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noLastWeekBugs>
      <p class="text-danger">No bugs found.</p>
    </ng-template>
  </div>

  <!-- Section: Last Month -->
  <div *ngIf=" lastMonthBugs && lastMonthBugs.length > 0">
    <h3 class="mt-4">Last Month</h3>
    <div class="d-flex justify-content-between p-2 align-items-center">
      <ngb-pagination
        [collectionSize]="lastMonthBugs.length"
        [(page)]="lastMonthCurrentPage"
        [pageSize]="lastMonthPageSize"
        (pageChange)="refreshLastMonth()"
      ></ngb-pagination>
      <select class="form-select" style="width: auto" [(ngModel)]="lastMonthPageSize" (ngModelChange)="refreshLastMonth()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table datatable" *ngIf="lastMonthBugs && lastMonthBugs.length > 0; else noLastMonthBugs">
        <thead class="table-light">
        <tr>
          <th>Bug Description</th><th>Status</th><th>Source Issue</th><th>Priority</th>
          <th>Date</th><th>Developer</th><th>Task ID-Op ID</th><th>Proj - Phase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bug of getLastMonthPaginated()" [ngClass]="{'expanded-row': expandedBugId === bug.idBug}">
          <td class="bug-description" (click)="toggleDescription(bug.idBug)">
            <span class="description-text">{{ bug.description }}</span>
          </td>
          <td><span class="badge badge-lg" [ngClass]="getStatusClass(bug.status)">{{ bug.status }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getSourceIssueClass(bug.source_issue)">{{ bug.source_issue }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getPriorityClass(bug.priority)">{{ bug.priority }}</span></td>
          <td>{{ bug.repportDate | date:'dd MMM yyyy' }}</td>
          <td>{{ getDeveloperInfo(bug) }}</td>
          <td>{{ bug.taskId }} - {{ bug.operationId }}</td>
          <td>{{ bug.projectName }} - {{ bug.phaseName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noLastMonthBugs>
      <p class="text-danger">No bugs found.</p>
    </ng-template>
  </div>



  <div *ngIf="bugs && bugs.length > 0">
    <h3 class="mt-4">All Bugs</h3>
    <div class="d-flex justify-content-between p-2 align-items-center">
      <ngb-pagination
        [collectionSize]="bugs.length"
        [(page)]="allBugsCurrentPage"
        [pageSize]="allBugsPageSize"
        (pageChange)="refreshAllBugs()"
      ></ngb-pagination>
      <select class="form-select" style="width: auto" [(ngModel)]="allBugsPageSize" (ngModelChange)="refreshAllBugs()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
    <div class="table-responsive">
      <table class="table datatable" *ngIf="bugs && bugs.length > 0; else noAllBugs">
        <thead class="table-light">
        <tr>
       <th>Bug Description</th><th>Status</th><th>Source Issue</th><th>Priority</th>
          <th>Date</th><th>Developer</th><th>Task ID-Op ID</th><th>Proj - Phase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bug of getAllBugsPaginated()" [ngClass]="{'expanded-row': expandedBugId === bug.idBug}">

          <td class="bug-description" (click)="toggleDescription(bug.idBug)">
            <span class="description-text">{{ bug.description }}</span>
          </td>
          <td><span class="badge badge-lg" [ngClass]="getStatusClass(bug.status)">{{ bug.status }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getSourceIssueClass(bug.source_issue)">{{ bug.source_issue }}</span></td>
          <td><span class="badge badge-lg" [ngClass]="getPriorityClass(bug.priority)">{{ bug.priority }}</span></td>
          <td>{{ bug.repportDate | date:'dd MMM yyyy' }}</td>
          <td>{{ getDeveloperInfo(bug) }}</td>
          <td>{{ bug.taskId }} - {{ bug.operationId }}</td>
          <td>{{ bug.projectName }} - {{ bug.phaseName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAllBugs>
      <p class="text-danger">No bugs found.</p>
    </ng-template>
  </div>

</div>
