<!-- src/app/views/applications/projects/statistiques/statistiques.component.html -->
<div class="row justify-content-center mb-4">
  <div class="col-md-6 col-lg-4">
    <!-- Toggle Button for Filters -->
    <button id="toggle-filters-btn" class="btn btn-secondary" (click)="toggleFilters()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1-4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z"/>
      </svg>
      Filtrer
    </button>

    <!-- Filter Dropdown -->
    <div class="filter-section" *ngIf="showFilters">
      <select class="form-select mt-2" [(ngModel)]="selectedName" (ngModelChange)="applyFilter()">
        <option value="">Tous</option>
        <option *ngFor="let name of uniqueNames" [value]="name">{{ name }}</option>
      </select>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Processes</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalProcesses }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Operations</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgOperations | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Duration (days)</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgDuration | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Process Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="processDonutChartConfig.data" [options]="processDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Processes by Pilote</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartPilote.data" [options]="barChartPilote.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Operations-Duration Correlation</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ processCorrelation | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Operations</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalOperations }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Tasks</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgTasksPerOperation | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Duration (days)</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgOperationDuration | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Operation Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="operationDonutChartConfig.data" [options]="operationDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Operations by User</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartUser.data" [options]="barChartUser.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Tasks-Duration Correlation</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ operationCorrelation | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Tasks</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalTasks }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Data Entries</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgDataPerTask | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Duration (days)</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgTaskDuration | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Task Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="taskDonutChartConfig.data" [options]="taskDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Tasks by Operation</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartOperation.data" [options]="barChartOperation.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Data-Duration Correlation</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ taskCorrelation | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Non-Conformity Statistics -->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Non-Conformities</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalNonConformities }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Fixed Non-Conformities</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ fixedNonConformities }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Open Non-Conformities</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ openNonConformities }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Non-Conformity Status</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="nonConformityDonutChartConfig.data" [options]="nonConformityDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Project Statistics -->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Projects</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalProjects }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Phases</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgPhases | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Duration (days)</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ avgDurationProjects | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Overdue Operations</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ overdueOperations }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Bugs</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ totalBugs }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Project Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="projectDonutChartConfig.data" [options]="projectDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Phase Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="phaseDonutChartConfig.data" [options]="phaseDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Task Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="taskDonutChartConfigProjects.data" [options]="taskDonutChartConfigProjects.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Projects by Type</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartType.data" [options]="barChartType.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Projects by Responsible</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartResponsible.data" [options]="barChartResponsible.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Bugs by Status</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartBugs.data" [options]="barChartBugs.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Bugs by Project</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="barChartBugsByProject.data" [options]="barChartBugsByProject.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- Document Statistics -->
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Total Documents</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ filteredTotalDocuments }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Salary</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ filteredAvgSalary | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Average Duration (days)</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ filteredAvgDurationDocuments | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Document Completion Rate</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="filteredDocumentDonutChartConfig.data" [options]="documentDonutChartConfig.options" [type]="'doughnut'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Documents by Category</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="filteredBarChartCategory.data" [options]="barChartCategory.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Documents by Creator</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <canvas class="chartjs-chart" height="300" baseChart [data]="filteredBarChartCreator.data" [options]="barChartCreator.options" [type]="'bar'"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Salary-Duration Correlation</h4>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <h2 class="text-center">{{ filteredDocumentCorrelation | number:'1.0-2' }}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Error Message (if any) -->
<div class="row justify-content-center" *ngIf="errorMessage">
  <div class="col-md-6 col-lg-6">
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
</div>
