<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="mb-3">
      <div class="card-body pt-0 text-center">
        <div id="task" class="apex-charts">
          <apx-chart
            [chart]="summaryChart.chart!"
            [series]="summaryChart.series!"
            [plotOptions]="summaryChart.plotOptions!"
            [dataLabels]="summaryChart.dataLabels!"
            [stroke]="summaryChart.stroke!"
            [legend]="summaryChart.legend!"
            [labels]="summaryChart.labels!"
            [colors]="summaryChart.colors!"
            [responsive]="summaryChart.responsive!"
            [tooltip]="summaryChart.tooltip!"
          ></apx-chart>
        </div>
        <h4 class="card-title my-2">Tasks Summary</h4>
        <button type="button" class="btn btn-outline-primary px-3 mt-2" (click)="viewKanban()">
          View Kanban
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-8">
    <div class="row g-3">
      <div class="col-md-6 col-lg-3">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col text-center">
                <span class="fs-24 text-danger fw-normal">{{ inProgressTasks }}</span>
                <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">In Progress</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col text-center">
                <span class="fs-24 text-warning fw-normal">{{ totalTasks }}</span>
                <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Tasks</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col text-center">
                <span class="fs-24 text-success fw-normal">{{ donePercentage }}%</span>
                <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Done</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col text-center">
                <span class="fs-24 text-info fw-normal">{{ totalBugs }}</span>
                <h6 class="text-uppercase fs-12 text-muted mt-2 m-0">Total Bugs</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-3 border-info border-dashed bg-info-subtle mt-3 rounded">
      <div class="row d-flex justify-content-center">
        <div class="col">
          <div class="">
            <a href="javascript:void(0);" class="fw-bold me-1">You've almost reached your goal</a>
            75% of your goals are completed just complete 25% of remaining goals to achieve your target.
          </div>
          <div class="row mt-3 g-2">
            <div class="col col-md-12 col-lg-6">
              <div class="">
                <p class="text-dark mb-2 fw-semibold fs-13">All Members</p>
                <div class="img-group d-flex">
                  <a class="user-avatar position-relative d-inline-block" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-1.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a class="user-avatar position-relative d-inline-block ms-n2" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-2.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a class="user-avatar position-relative d-inline-block ms-n2" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-4.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a class="user-avatar position-relative d-inline-block ms-n2" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-5.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a class="user-avatar position-relative d-inline-block ms-n2" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-4.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a class="user-avatar position-relative d-inline-block ms-n2" href="javascript:void(0);">
                    <img src="assets/images/users/avatar-6.jpg" alt="avatar" class="thumb-md shadow-sm rounded-circle" />
                  </a>
                  <a href="" class="user-avatar position-relative d-inline-block ms-1">
                    <span class="thumb-md shadow-sm justify-content-center d-flex align-items-center bg-info-subtle rounded-circle fw-semibold fs-6">+80</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col col-md-12 col-lg-6 align-self-center">
              <span class="badge rounded text-primary bg-transparent border border-primary mb-2 p-1">Senior team leader interview</span>
              <p class="text-dark fw-semibold fs-13">15 Aug 2025, AM-10:15</p>
            </div>
          </div>
        </div>
        <div class="col-auto align-self-center">
          <button type="button" class="btn btn-primary px-3 btn-sm mt-2">View All</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Operations & Details</h4>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3 px-2">
          <ngb-pagination
            [collectionSize]="operations.length"
            [(page)]="operationsCurrentPage"
            [pageSize]="operationsPageSize"
            (pageChange)="refreshOperations()"
          ></ngb-pagination>

          <select
            class="form-select"
            style="width: auto"
            [(ngModel)]="operationsPageSize"
            (ngModelChange)="refreshOperations()"
          >
            <option [ngValue]="2">2 operations par page</option>
            <option [ngValue]="4">4 operations par page</option>
            <option [ngValue]="6">6 operations par page</option>
          </select>
        </div>

      </div>
      <div class="card-body pt-0">
        <div *ngFor="let op of paginatedOperations; let last = last; let index = index; trackBy: trackByFn">
          <div class="task-accordion rounded border-dashed border-theme-color p-2" [ngClass]="{ 'mb-3': !last }">
            <!-- Section toujours visible -->
            <div class="cursor-pointer" (click)="toggleCollapse(index)">
              <div class="table-responsive">
                <table class="table text-nowrap mb-0">
                  <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <i class="iconoir-calendar fs-2 me-2"></i>
                        <div class="flex-grow-1 text-truncate">
                          <h6 class="m-0 mb-1 fw-semibold">Deadline</h6>
                          <div class="fw-semibold">
                            <span class="text-danger">{{ op.deadline }}</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-start">
                      <h6 class="m-0 mb-1 fw-semibold">Operation</h6>
                      <span class="fs-13 fw-semibold">{{ op.name }}</span>
                    </td>
                    <td>
                      <h6 class="mb-0 fw-bold">Project</h6>
                      <span class="fs-13 fw-semibold">{{ projectName(op.idProjectOperation) || 'N/A' }}</span>
                    </td>
                    <td class="text-start">
                      <h6 class="m-0 mb-1 fw-semibold">Priority</h6>
                      <span [class]="{
                          'text-danger': op.priority === 'high',
                          'text-warning': op.priority === 'low',
                          'text-info': op.priority === 'medium'
                        }">
                          <i class="fa-solid fa-stop fs-10"></i>
                        {{ op.priority }}
                        </span>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- Afficher "Operation Info" (description) par défaut -->
              <div class="p-3">
                <h6 class="fw-semibold">Operation Info</h6>
                <p class="mt-2 mb-0">{{ op.description }}</p>
              </div>
            </div>
            <!-- Section collapsible (Progress, Total Bugs, Assigned To, et Tasks) -->
            <div *ngIf="isExpanded(index)" class="accordion-body bg-body border-dashed-top p-3">
              <div class="operation-details d-flex align-items-center gap-3">
                <div class="progress-section">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <h6 class="m-0 fw-semibold">Progress</h6>
                    <small class="text-muted">{{ op.calculatedProgress }}%</small>
                  </div>
                  <ngb-progressbar-stacked class="progress bg-secondary-subtle" style="height: 5px">
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(op.calculatedProgress)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(op.calculatedProgress)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(op.calculatedProgress)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                  </ngb-progressbar-stacked>
                </div>
                <div class="bugs-section">
                  <h6 class="m-0 fw-semibold">Total Bugs</h6>
                  <p class="text-muted mb-0">{{ op.totalBugsForOperation }}</p>
                </div>
                <div class="assigned-section">
                  <h6 class="m-0 fw-semibold">Assigned To</h6>
                  <p class="text-muted mb-0">{{ op.user?.username || 'Unassigned' }}</p>
                </div>
              </div>
              <br /><br />
              <div *ngIf="op.projectTasks && op.projectTasks.length > 0">
                <ul>
                  <li *ngFor="let task of op.projectTasks; trackBy: trackByTaskId" class="d-flex align-items-center gap-2">
                    <span class="task-desc">{{ task.taskDescription }}</span>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-secondary': task.status === 'To Do', 'btn-outline-secondary': task.status !== 'To Do' }" (click)="updateStatustodo(task.id)">
                        To Do
                      </button>
                      <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-primary': task.status === 'In Progress', 'btn-outline-primary': task.status !== 'In Progress' }" (click)="updateStatusInProgress(task.id)">
                        In Progress
                      </button>
                      <button type="button" class="btn btn-sm" [ngClass]="{ 'btn-success': task.status === 'Done', 'btn-outline-success': task.status !== 'Done' }" (click)="updateStatusDone(task.id)">
                        Done
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div *ngIf="!op.projectTasks || op.projectTasks.length === 0">
                <p>No tasks available for this operation.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>








